    $background-gray: rgb(56, 56, 56);
    $font-color: white;
    $font-color-2: var($background-gray);
    $custom-width: 85%;
    $green: #00e600;
    $green-2: rgba(153, 255, 153, 0.2);
    $img-radius: 25px;
